
   <div class= "form pb-4">
    <form action="/rewardspage" method="POST" id="myForm">
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <label for="rewardsType" class="forminput" >Type Of Rewards</label>
            <input type="text" class="form-control" id="rewardsType" name="rewardsType" required="true" class="forminput" >
          </div>
          <div class="col-md-2 mb-3">
            <label for="rewardsAmount" class="forminput">Rewards Amount</label>
            <input type="number" class="form-control" id="rewardsAmount" required="true" min='1' name="rewardsAmount" class="forminput" >
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-2">
            <label for="rewardsExpiry" class="forminput">Rewards Expiry Date</label>
            <input type="date" class="form-control" id="rewardsExpiry" name="rewardsExpiry" required="true" class="forminput">
          </div>
            <div class="col-md-2">
              <label for="rewardsLocation" class="forminput">Where do to utilized rewards?</label>
              <input type="text" class="form-control" id="rewardsLocation" name="rewardsLocation" required="true" class="forminput">
            </div>
          </div>
        <div class="form-group">
        </div>
        <button class="btn btn-dark btn-sm" type="submit" class="forminput" id='btn-submit'>Submit</button>
      </form>
    </div>






