<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-custom mb-5 sticky-top">
    <a class="navbar-brand h1">Rewards Tracker</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#colNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="colNav">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Interim</a>
        </li> -->
        <ul class="nav navbar-nav">
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="colNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row pb-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
                     Reset Password
        </h1>
        <%- include('./partials/messages.ejs') %>
        <form action="/reset/<%= id %>/?_method=PUT" method="POST">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required="true" class="form-control password"
              placeholder="Enter your new password" minlength="6" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Front End</h6>
          <ul class="footer-links">
            <li>Html</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>BootStrap</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>BackEnd</h6>
          <ul class="footer-links">
            <li><a href="#">Nodejs</a></li>
            <li><a href="#">Expressjs</a></li>
            <li><a href="#">JQuery</a></li>
            <li><a href="#">Mongoose</a></li>
            <li><a href="#">EJS</a></li>
            <li><a href="#">PassportJS</a></li>
            <li><a href="#">Bcrypt</a></li>
            <li><a href="#">Express Session</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Others</h6>
          <ul class="footer-links">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Mlab</a></li>
            <li><a href="#">Heroku</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Might-Caverns</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</body>

</html>
